.navbar {
    background-color: #f8f9fa;
    border-bottom: 2px solid #ececec;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 200%;
}

.navbar-nav .nav-item {
    margin: 0 20px;
}

.navbar-nav .nav-item.center {
    margin: 0;
    flex: 1;
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dd2cf5;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #6b00b3;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    color: #333;
    margin-right: 10px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link.active {
    color: #dd2cf5;
    font-weight: bold;
    border-bottom: 2px solid #dd2cf5;
}

.navbar-nav .nav-link:hover {
    color: #8e10b4;
    border-bottom: 2px solid #8e10b4;
}

.navbar-nav .nav-link.disabled {
    color: #aaa;
    cursor: not-allowed;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.navbar-toggler {
    border: 1px solid #ccc;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

form.d-flex input.form-control {
    width: 200px;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

#cil, #vyhody {
    background-color: #f8f9fa;
    border: 2px solid #ececec;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cil {
    height: 300px;
    overflow-y: scroll;
}

#vyhody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 800px;
}

#novinky .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#novinky .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#novinky .card-title {
    font-size: 1.25rem;
    color: #000000;
    font-weight: bold;
}

#novinky .card-text {
    font-size: 0.9rem;
    color: #555;
}

